[submodule "password_compat"]
	path = password_compat
	url = https://github.com/ircmaxell/password_compat.git
[submodule "SplClassLoader"]
	path = SplClassLoader
	url = https://gist.github.com/221634.git
